* { padding: 0; margin: 0; box-sizing: border-box; }

html {
  background-color: #333;
  color: silver;
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 15px;
}

h1,h2,h3 {
  font-weight: normal;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem 1rem;
  min-height: 6.5rem;
}

main {
  color: #222;
}

main > header,
main > footer,
body > footer {
  padding: 1rem;
}

main > header {
  min-height: 3rem;
}

main > header,
body > footer {
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

main > header .left-side,
main > header .right-side {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  gap: 1rem;  
}

body > footer {
  color: #222;
}

main > footer {
  color: silver;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

main .content {
  flex-direction: column;  
  position: relative;
  overflow: auto;
  display: flex;
}

aside {
  min-width: 280px;
}

button, input, textarea {
  /*background: none;*/
  border: 0;
  font-weight: 400;
  line-height: 20px;
  outline: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input, textarea, select {
  width: 100%;
  font-size: 0.9rem;
}

textarea {
  padding: 0.25rem;
}

button, input[type="submit"] {
  cursor: pointer;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
  line-height: 1.3;
}

button, ::file-selector-button {
  white-space: unset;
  text-indent: 0;
  display: inline-block;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu li {
  padding: 7px 0;
  position: relative;
  white-space: nowrap;
  opacity: 0.8;
}

.menu .active,
.menu li:hover {
  opacity: 1;
}

.menu li::after {
  content: " ";
  background-color: palegoldenrod;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 3px;
  left: 0;
}

.menu .active::after,
.menu li:hover::after {
  background-color: salmon;
}

.menu a {
  color: cyan;
  text-decoration: none;
}

.button {
  color: dimgrey;
  background-color: #eee;
  padding-left: 0.67rem;
  padding-right: 0.67rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  align-items: center;
  min-height: 1.8rem;
  margin: 0;
  border-width: 1px;
  border-color: #eee;
  border-style: outset;
}

.button:visited, .button:focus {
  color: dimgrey;
}

.button:hover {
  color: dodgerblue;
  opacity: 0.8;
}

.hidden {
  display: none !important;
}

.mb0 {
  margin-bottom: 0;
}

.trim {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;  
  width: 100%;
}

#logo {
  max-height: 5rem;
  max-width: 96%;
}

#back-to-top {
  display: none;
}

.loading-indicator {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 1.75rem;
}

.loading .loading-indicator {
  border-color: red;
}

.loading-indicator div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;;
  margin: 2px;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  /* border-top-color: #fff; */
}

.loading-indicator div:nth-child(1) { animation-delay: -0.45s; }
.loading-indicator div:nth-child(2) { animation-delay: -0.3s; }
.loading-indicator div:nth-child(3) { animation-delay: -0.15s; }

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
