/* View Specific CSS */
pre {
  color:  whitesmoke;
}

form {
  background-color: whitesmoke;
  width: calc(min(96vw, 360px));
  padding: 1rem;
  margin: 2rem auto;
  color: #222;
}

fieldset {
  border: none;
}

fieldset a {
  line-height: 2rem;
}

.buttons {
  padding: 1rem;
}

.button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  width: auto;
}

.errors {
  margin-bottom: 1rem;
}
