/* View Specific CSS */
pre {
  color:  whitesmoke;
}

form {
  width: 50vw;
  padding: 1rem;
  margin: 2rem auto;
}

fieldset {
  border: none;
}

fieldset a {
  line-height: 2rem;
}

.buttons {
  padding: 1rem;
}

.button {
  font-size: 0.9rem;
}

.errors {
  margin-bottom: 1rem;
}
