/* View Specific CSS */

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
}

.slideshow .slides {
  width: 100%;
  height: 100%;
  border-width: 1.34rem;
}

.slide img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slideshow .prev-slide,
.slideshow .next-slide {
  color: var(--doc-color-light, white);
  height: 100%;
  font-size: 2rem;
}