/* View Specific CSS */

.main-header {
  background-color: var(--doc-color-primary);
}

main {
  --flexgrid-cell-color: white;
  --flexgrid-lines-color: gainsboro;
  --flexgrid-lines-width: 1px;
  --flexgrid-row-height: 23px;
  --flexgrid-col-width: 110px;
}

main {
  overflow: auto;    
  background-color: var(--flexgrid-lines-color);
  border: 3px solid var(--flexgrid-lines-color);
}

.main-header {
  flex-wrap: nowrap;
}

.prev-day,
.next-day {
  min-width:2.3rem;
}

.date-nav {
  width: 50%;
}

.date-nav-group {
  position: relative;
  min-width: 10ch;
  max-width: 24ch;
  width: 100%;
}

.date-button {
  overflow: hidden;
  width: 100%;
}

.bookings-count-badge {
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--doc-color-secondary);
  width: 1.34rem;
  height: 1.3rem;
  user-select: none;
  text-align: center;
  line-height: 1.34rem;
  right: -0.3rem;
  top: -0.45rem;
}

.today-button {
  background-color: hsla(322.2, 80.9%, 43%); /* mediumvioletred */
  min-width: 3.5rem;
}

.today-button:hover {
  background-color: hsla(322.2, 80.9%, 48%);
}

.control-group {
  overflow: hidden;
}

.add-button {
  background-color: var(--doc-color-secondary);
  min-width: 6ch;
  overflow: hidden;
  padding-left: 0;
}

.add-button:hover {
  background-color: var(--doc-color-secondary-highlight);
}

.add-button span {
  margin-left: 0.5rem;
}

@media (max-width: 520px) {
  .main-header { flex-wrap: wrap; }
  .date-nav { width: 100%; }
}

@media (min-width: 521px) and (max-width: 767px) {
  .menu .home { display: none; }
}

.flex-grid {
  display: flex;
  width: -moz-fit-content;
  width: fit-content; /* Very important! */
  gap: var(--flexgrid-lines-width);
}

.flex-col {
  flex-direction: column;
  min-width: var(--flexgrid-col-width);
  display: flex;
  gap: var(--flexgrid-lines-width);
}

.flex-grid label {
  text-align: center;
}

.freeze-first-col > .flex-col:first-child {
  border-right: var(--flexgrid-lines-width) solid var(--flexgrid-lines-color);
  position: sticky;
  z-index: 10;
  left: 0;
}

.freeze-top-row > .flex-col > .flex-row:first-child {
  border-bottom: var(--flexgrid-lines-width) solid var(--flexgrid-lines-color);
  position: sticky;
  z-index: 5;
  top: 0;
}

.col-header {
  display: flex;
  height: 3rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  color: var(--doc-color-dark-highlight);
}

.times-col {
  background-color: var(--flexgrid-cell-color);  
  min-width: 100px;
}

@media (max-width: 520px) {
  .times-col { min-width: 80px; }
}

.times-col label {
  background-color: var(--doc-color-secondary);  
  user-select: none;
  height: 100%;
}

.hour-group {
  gap: var(--flexgrid-lines-width);
  display: flex;
}

.hour-group .hour {
  font-size: 1.5rem;
}

.hour {
  font-weight: bold;
}

.min label {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hour, .min {
  gap: var(--flexgrid-lines-width);
  color: var(--doc-color-light);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  width: 50%;
}

.time-slot {
  background-color: var(--flexgrid-cell-color);
  min-height: var(--flexgrid-row-height);
  position: relative;
  overflow: visible;
  display: flex;  
}

.station-col .time-slot:hover:not(.booked) {
  opacity: 0.5;
}

.booking {
  border-radius: 4px;
  border-left: 4px solid #fff8;
  color: whitesmoke;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.booking p {
  pointer-events: none;
}

.booking .notes {
  background-color: #ffffff30;
  padding: 0.3em;
  margin-top: 0.34em;
}

.booking-detail hr {
  border: none;
  border-top: 1px solid gainsboro;
  margin: 0.25em 0 0.67em;
}

.booking-detail p {
  font-size: 0.9em;
  margin: 0.25em;
}

/*.pop-over {
  display: none;
  background-color: whitesmoke;
  box-shadow: 1px 1px 7px #0005;
  transform: translateY(-50%);
  position: absolute;
  width: 320px;
  padding: 1rem;
  z-index: 1;
  left: 100%;
  top: 50%;
}

.pop-over.show {
  display: block;
}*/

select {
  width: auto;
}

select[name="view"],
select[name="style"]  {
  height: 100%;
}

.select {
  min-width: 180px;
}

.select__display {
  white-space: nowrap;
}

.select__display small,
.select--option small {
  color: grey;
}

.select--option.selected small,
.select--option.focus small {
  color: white;
}

.field.unhappy .select__display {
  border-color: crimson;
}

.field.unhappy .select__display:focus,
.field.unhappy .select__display:focus-visible {
  box-shadow: 0 0 0 3px rgb(255 108 108 / 50%);      
}

.time-input {
  display: flex;
  width: 100%;
  gap: 3px;
}

.range-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.range-input > label {
  font-size: 0.8rem;
}

.modal {
  --modal-spacing: 0.67rem;
}

.modal header {
  padding: var(--modal-spacing);
  background-color: gold;
}

.modal footer {
  padding: var(--modal-spacing);
  background-color: gold;
}

.modal-inner {
  width: 96%;
  max-width: 460px;
  left: max(2%, calc(50% - 240px));
  top: 3px;
}

.modal form {
  padding: var(--modal-spacing);
}

.modal .calendar {
  flex: 1;
}

.modal .booking-detail {
  padding: var(--modal-spacing);
}

.loading .loading-indicator i {
  border-top-color: cadetblue;
}
