/* View Specific CSS */
.content {
  border: 7px solid whitesmoke;
  min-height: 100vh;
}

.calendar {
  --row--height: 23px;
  --station--col--width: 100px;
  --divider--color: #eee;
  --grid--color: gainsboro;
  --cell--color: white;
  flex: 1;
}

.table {
  display: flex;
  background-color: var(--grid--color);
  flex-direction: column;
  gap: 1px;
}

.thead {
  display: flex;
  background-color: var(--grid--color);
  border-bottom: 2px solid var(--divider--color);
  width: fit-content;
  position: sticky;
  color: #444;
  z-index: 5;
  gap: 1px;
  top: 0;
}

.trhead {
  display: flex;
  position: sticky;
  border-right: 2px solid var(--divider--color);
  background-color: var(--grid--color);
  flex-direction: column;
  z-index: 10;
  gap: 1px;
  left: 0;
}

.tbody {
  display: flex;
  background-color: var(--grid--color);
  width: fit-content;
  gap: 1px;
}

.trmain {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.tr {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.th {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: var(--cell--color);
  height: 3em;
}

/*
.th + .th,
.td + .td {
  border-left: 1px solid var(--grid--color);
}
*/

.station-col-head{
/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  height: 100%;
  width: var(--station--col--width);
  border: 3px outset #ffffff30;
  border-radius: 3px;
  padding: 1px 0 3px;
  text-align: center;  
}

.hour-col, .min-col {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  gap: 1px;
}

.hour-col {
  background-color: var(--cell--color);
  font-weight: bold;
}

.tbody .hour-col {
  font-size: 1.5rem;
}

.time-slot {
  background-color: var(--cell--color);
  height: var(--row--height);
  position: relative;
  width: 100%;
}

.hour-group .time-slot {
  line-height: var(--row--height);
  text-align: center;
  color: dimgrey;
}

.station-col .time-slot {
  overflow-y: visible;
}

.station-col .time-slot:hover:not(.booked) {
  opacity: 0.5;
}


.station-col {
  flex: none;
  display: flex;
  width: var(--station--col--width);
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 1px;
}

.booking {
  border-radius: 8px;
  border: 3px solid #fff8;
  color: whitesmoke;
  font-size: 0.8rem;
  padding: 0.25rem;
  cursor: pointer;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.booking * {
  pointer-events: none;
}

.pop-over {
  display: none;
  background-color: whitesmoke;
  box-shadow: 1px 1px 7px #0005;
  transform: translateY(-50%);
  position: absolute;
  width: 320px;
  padding: 1rem;
  z-index: 1;
  left: 100%;
  top: 50%;
}

.pop-over.show {
  display: block;
}

.min-group .td {
  height: var(--row--height);
}


.button:visited, .button:focus {
  color: dimgrey;
}

.button:hover {
  color: dodgerblue;
  opacity: 0.8;
}

#date-nav {
  padding: 0;
  display: flex;
  gap: 5px;
}

#date-nav button {
  width: 2em;
  height: 1.67em;
  background-color: #eee;
  padding: 0;
}

#date-nav .icon {
  width: 80%;
  height: 67%;
}

#date-nav .date-view {
  color: #222;
  min-height: 1.67em;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 1em;
}

#date-nav .date-bookings {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: steelblue;
  width: 1.5rem;
  height: 1.34rem;
  text-align: center;
  line-height: 1.34rem;  
}

.button.add {
  color: white;
  padding: 4px 10px;
  font-weight: normal;
  background-color: #333;
  border-style: none;
  font-size: 0.9rem;
}

select[name="view"],
select[name="style"]  {
  padding: 5px 10px;
  width: auto;
}

.select__display small,
.select--option small {
  color: grey;
}

.select--option.selected small,
.select--option.focus small {
  color: white;
}

.field.unhappy .select__display {
  border-color: crimson;
}

.field.unhappy .select__display:focus,
.field.unhappy .select__display:focus-visible {
  box-shadow: 0 0 0 3px rgb(255 108 108 / 50%);      
}

.range-input > span {
  font-size: 0.9rem;
}

.modal header {
  padding: 0.67rem;
  background-color: gold;
}

.modal-body {
  padding: 1rem;
}

.modal footer {
  padding: 0.67rem;
  background-color: gold;
}

.modal-inner {
  width: 96%;
  max-width: 480px;
  left: max(2%, calc(50% - 240px));
  top: 3px;
}

#vanilla-calendar-1 {
  border: 1px solid gainsboro;
  display: block;
  background: white;
  padding: 0.67rem;
}

form label,
#vanilla-calendar-1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}

.button:focus,
.button:focus-visible,
button:focus,
button:focus-visible {
  box-shadow: 0 0 0 3px rgba(49,132,253,.5); 
  /*outline: 1px solid blue;*/
  /*outline-offset: -2px;*/
}

.vanilla-calendar-month,
.vanilla-calendar-year {
  background: 0;
  margin: 0 1px;
  padding: 1px 0.15rem;
}

.vanilla-calendar-week {
  grid-column-gap: 2px;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.vanilla-calendar-days {
  grid-column-gap: 2px;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.vanilla-calendar-day__btn {
  width: 2em;
  height: 1.9em;
  margin: 1px 0;
}

.vanilla-calendar-header__content {
  padding: 0 7px;
}

.loading-indicator {
  margin:0 1rem;
  position:relative;
}

.loading .loading-indicator div {
  border-top-color: cadetblue;
}

.loading  .loading-indicator::after {
  position: absolute;
  width: fit-content;
  content: "Loading...";
  color: cadetblue;
  left: 100%;
  top: 0;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 0 3px;
}

#booking-view-modal p {
  margin: 5px;
}