/* View Specific CSS */

main {
  background-color: var(--doc-color-light);
}

form {
  --form-spacing: 1.34rem;
  background-color: var(--doc-color-light-highlight);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(min(96vw, 360px));
  padding: var(--form-spacing);
  margin: 2rem auto;
  color: #222;
}

.button {
  border-color: var(--doc-color-secondary-highlight);
  background-color: var(--doc-color-secondary);
  font-size: 0.9rem;
  padding: 0.5rem var(--form-spacing);
  width: auto;
}

.button:hover {
  background-color: var(--doc-color-secondary-highlight);
}

.errors,
.lost-password {
  font-size: 0.9rem;
}